<div class="register">
  <div class="text-center registhead">
    <h2>انشاء حساب</h2>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-12 mb-3">
        <mat-radio-group formControlName="isTeacher">
          <mat-radio-button
            value="false"
            [checked]="true"
            class="w-25 ml-5"
            color="warn"
            >طالب</mat-radio-button
          >
          <mat-radio-button
            value='true'
            [checked]=""

            class="w-25"
            color="warn"
            >دكتور</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div class="col-md-6 col-sm-12">
        <mat-form-field appearance="outline" color="warn">
          <mat-label>الاسم</mat-label>
          <input matInput type="text" formControlName="name" />
          <!-- <mat-hint color="warn">must more than 5</mat-hint> -->
        </mat-form-field>
      </div>

      <div class="col-md-6 col-sm-12">
        <mat-form-field appearance="outline" color="warn">
          <mat-label>البريد الالكترونى</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
      </div>

      <div class="col-md-6 col-sm-12">
        <mat-form-field appearance="outline" color="warn">
          <mat-label>كلمة المرور</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </div>

      <div class="col-md-6 col-sm-12">
        <mat-form-field appearance="outline" color="warn">
          <mat-label>تاكيد كلمة المرور</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
        </mat-form-field>
      </div>
    </div>
    <div class="text-right registfoot">
      <a routerLink="/auth/login" color="primary">املك حساب بالفعل ؟</a>
      <button
        mat-raised-button
        type="submit"
        color="warn"
        [ngClass]="{ buttonload: isLoading == true }"
        [disabled]="!registerForm.valid || isLoading"
      >
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm ml-1" role="status" aria-hidden="true"></span>
        {{ isLoading ? "تحميل..." : "انشاء الحساب" }}
      </button>
    </div>
  </form>
</div>